 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  box-shadow: 0 0px 1px #636363;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px;
}


.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.main-container .left-section {
  width: 45%;
  height: 93vh;
  box-shadow: 0 0 1px #000000;
  box-shadow: 0 0px 25px rgba(36, 66, 213, 0.2);
  margin-left: 15px;
}

.main-container .left-section > img {
 width: 99.7%;
 height: 100%;
}

.main-container .right-section {
  width: 55%;
  height: 93vh;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.main-container .right-section h1 {
  text-align: center;
  margin-top: 10rem;
  font-size: 35px;
  display: flex;
  justify-content: center; 
 
  
}
  .form {
    width: 50%;
    height: 50%;
    margin: auto;
    }


 .right-section .formGroup label {
  font-size: 18px;
  font-weight: 550;
  padding: 55px;
  margin-left: -10%;
  margin-right: 65%;
  text-align: center;
} 



.right-section .second {
  display: inline-block;
}


.right-section .formGroup input{
  width: 90%;
  padding: 15px;
  margin: 1px 0;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 15px;
  
 
}
#check {
  display: inline-block;
  margin-right: 10px;
  margin-left: 0px;
  text-align: left;
  
}

.condition {
  display: inline-block;
  font-size: 18px;
  vertical-align: bottom;
  margin-top: 10px;
  /* letter-spacing: 0.1rem; */
  text-align: left;
  /* margin-right: 0px;
  margin-left: 0px; */
}


 .for-signin {
  text-align: center;
  padding: 0.5rem;
  margin-top: 0;
 
 }

 .for-signin .b1 {
  
  border: 1px solid;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
 
  background-color: #000000;
  text-align: center;
 }
 .b1:hover {
  background-color: grey;
}

 

.main-container .right-section .formGroup #check{
  display: block;
  /* display: inline-block; */
  padding:0%;
 
  
  
}

 .main-container .right-section .formGroup .condition {

  display: inline-block;
  font-size: 25px;
  text-align: left;
  margin-left: 100;
  vertical-align: bottom;
  margin-top: 25px;
  letter-spacing: 0.1rem;
  
}

.for-signin {
  text-align: center;
  padding: 1.8rem 1rem;
 }
.already {
text-align: center;
font-size: 18px;
letter-spacing: 1px;
display: flex;
justify-content: center; 
}

.formGroup .already .p {
text-transform: capitalize;
font-size: 17px;
} 
@media (max-width:1024px) {
  .main-container{
    margin-top: 0%;
  }
  
}
 @media screen and (max-width:500px){
  .main-container{
		flex-direction: column;
		height: 40%;
    width:30%;
    justify-items: center;
  }
  .left-section  {
    display: none; 
  }
.loginimg{
  width:30%;
  height:50%;
}
.right-section{
  width:100%;
  text-align: center;
  border-radius: 0px;
  background: #FFFF;
}
.left-section{
  text-align: center;
  justify-content: center;

}
}
@media  (max-width:520px){
  .main-container{
    flex-direction: column;
    margin-top: 20%;
    margin-left: 10%;
    height: 100%;
    width: 80%;
    justify-items: center;
  }
  .left-section{
    display: none;
  }
  .right-section{
    height: 100%;
    width: 100%;
    border-radius: 0px;
    background-color: #FFFF;
  }
}
@media (max-width:320px) {
  .main-container{
    margin-top: 50%;
  }
  
}