.my-sostum-clas{
    font-family: 'Times New Roman', Times, serif;
}
.mycustom{
  font-weight: bold;

}
.mycustom1{
  font-weight: bold;
  font-size: 2rem;

}

.customclas{
    box-shadow: 0px 15px 10px -15px #111;
}
