body{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.upload_blog{
    display: flex;
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;



}
@media (max-width: 720px) {
    form{
        width: 80%;
    }
}

input[type=text], textarea {
    padding: 10px;
    width: 400px;
    border: solid 1px #B3FFB3;
    outline: 0;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #A4FFA4), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #A4FFA4 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

}

button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #45a049;
}

/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
    background-color: #4CAF50;
}

/* Fake image */
.fakeimg {
    /* background-color: #aaa; */
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-color: aqua;
}

/* Add a card effect for articles */
.card {
    background-color: rgb(37, 33, 33);
    padding: 20px;
    margin-top: 20px;
}
