@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: #0e0d0d;
    color: white; */
}

.container {
    height: 100vh;
    width: 100%;
    padding: 4% 5%;
}

.title h2 {
    letter-spacing: 1.1px;
    color: #f6f6f6;
    font-size: 150%;
    margin:0 0 8px 20px;
}

.videos{
    display: flex;
    gap: 20px;
}

.large-vid {
    width: 98%;
    height: 26.1rem;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
    overflow: hidden;
    object-fit: cover;
    margin: 5px;
}

.small-vid {
    width: 90%;
    height: 10rem;
    border-radius: 4.4px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%);
    overflow: hidden;
    object-fit: cover;
    margin: 5px;
}

.large-vid img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.row-sm {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
    justify-content: center;
    align-items: center;
    }

.column-sm-1 {
    flex: 50%;
    max-width: 50%;
    display: grid;
    gap: 9px;

}

.column-sm-2 {
    flex: 50%;
    max-width: 50%;
    display: grid;
}

.desc{
    width: 100%;
    padding: 3% 4%;
}

.desc h5{
    color: rgb(227, 21, 21);
    font-size: 70%;
    letter-spacing: 1.1px;
}

.desc-p{
    font-weight: 500;
    font-size: 80%;
    padding-right: 2.2%;
}

.play-btn-lg{
    padding: 36px;
    background: white;
    color: black;
    border-radius: 50%;
    position: absolute;
    z-index: 50;
    cursor: pointer;
}

.vid-sm{
    justify-content: center;
    align-items: center;
    display: flex;
}

.vid-lg{
    justify-content: center;
    align-items: center;
    display: flex;
}
.play-btn{
    padding: 20px;
    border-radius: 50%;
    background-color: white;
    color: black;
    cursor: pointer;
    position: absolute;
    z-index: 50;

}



/* Responsive layout  
*/
@media (max-width: 1100px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .column-sm {
        flex: 100%;
        max-width: 100%;
    }

    .column-sm-1 {
        justify-content: center;
    }

    .column-sm-2 {
        justify-content: center;
    }
    .large-vid{
        height: auto;
        width: 100%;
    }


    .small-vid{
        height: auto;
        width: 90%;
        justify-content: center;
    }

}




@media (max-width: 576px) {
    .column-sm-1 {
        flex: 100%;
        max-width: 100%;
    }

    .column-sm-2{
        flex: 100%;
        max-width: 100%;
    }
    .small-vid {
        flex: 100%;
        max-width: 100%;
    }

    .small-vid {
        flex: 100%;
        max-width: 100%;
    }

    .large-vid{
        height: auto;
        width: 100%;
    }

    .small-vid{
        height: auto;
        width: 100%;
    }
}

