*{
    margin: 0;
    padding: 0;


}
body{
    margin: 0%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 40px 15px 40px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.1);
    align-items: center;
}

nav img{
    height: 40px;
    width: 120px;
    cursor: pointer;

}

nav .nav-btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-gap: 20px;
}
nav .nav-btns li{
    list-style: none;
}
nav .nav-btns li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    transition: 0.1s ease;
    display: block;
    padding: 6px 25px;
    border: 1px solid;
    border-radius: 1000px;
    background-color: #092138;
}
nav .nav-btns li a:hover{
    background-color: transparent;
    color: #060537;
}
nav .nav-btns li a.sign{
    background-color: #317193;
}
nav .nav-btns li a.sign:hover{
    background-color: transparent;
}
nav .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 60px;
}
nav .navbar li{

}
nav .navbar li a{
    color: #060537;
}
nav .navbar li a:hover{
    color: #317193;
}

.banner{
    background-color: #F2F0EF;

}
.banner .banner-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .content{
    padding: 0 40px 0 120px;
    width: 46%;
}
.banner .content h3{
    font-size: 40px;
    font-weight: 900;
}
.banner .content h3 span{
    color: #D90606;
}
.banner .content p{
    margin: 0%;
    font-size: 20px;


}

.banner .img {
    width: 37%;
    height: 427px;
    overflow: hidden;
}
.banner .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* explore content */
.courses{
    background-color: #092138;
    padding: 20px 0 100px;
    position: relative;
    z-index: 0;
}
.courses:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #317193;
    height: 170px;
    z-index: -1;
}
.courses h2{
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
}
.courses-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 30px;
}

.courses .courses-content .item{
    background-color: white;
    padding: 30px;
    box-shadow: 0px 5px 8px 5px rgb(0 0 0 / 15%);
    transition: all 0.2s ease-in-out;
}
.courses .courses-content .item:hover{
    box-shadow: 0px 30px 30px 5px rgb(0 0 0 / 15%);
    margin-top: -10px;

}
.courses .courses-content .item .tag{
    display: block;
    margin: 0 0 10px;
}
.courses .courses-content .item a{
    text-decoration: none;
    color: black;
    font-size: 20px;

}
.courses .courses-content .item a h4{
    margin: 0 0 10px;
}

.courses .courses-content .item ul{
    margin: 0;
    padding: 0;
    list-style: inside disc;
}
.courses .courses-content .item a :hover{
    color: #317193;

}

/* beginner section */

.beginner-welcome{
    background-color: #092138;
    padding: 80px 0;
    margin: 0 0 150px;
}
.beginner-welcome .beginner-wrapper{
    display: flex;
    grid-gap: 100px;
    align-items: center;
    justify-content: space-between;

}
.beginner-welcome .img{
    width: 105%;
}

.beginner-welcome .img img{
    width: 100%;
}

.beginner-welcome .content h3{
    font-size: 35px;
    color: rgb(173 196 245);
    margin: 0 0 15px;
}

.beginner-welcome .content p{
    color: white;

}

/* .beginner-welcome .join-free a{
    display: flex;
    border: 1px solid;
    padding: 10px 5px;
    text-decoration: none;
    color: white;
} */
.btn-wrapper{
    margin: 50px 0 0;
}
.join-free{
    font-size: 16px;
    color: white;
    background-color: #317193;
    border: 1px solid #317193;
    border-radius: 1000px;
    padding: 5px 15px;
    display: block;
}

/* section 3 */
.with-edu{
    background-color: #ffffff;
    margin: 0 0 150px;

}
.with-edu .banner2-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAF3EC;
}
.with-edu .title{
    font-size: 50px;
    font-weight: 1200;
    padding: 100px 80px 100px 120px;
}
.with-edu .img-wrapper {
    width: 100%;
    text-align: center;
}
.with-edu  .img-wrapper img{
    width: 326px;
}
.with-edu  .img-wrapper img:first-child{
    margin: -80px 0 80px;
}
.with-edu  .img-wrapper img:last-child{
    margin: 0 0 -80px;
}


/* footer */
footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #111;
    color: white;
    padding: 50px 100px;
}
footer .main-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 50px;
}
footer .main-content .box{
    flex-basis: 50%;
    padding: 10px, 20px;
}
.box h2{
    color: #17a2b8;
    font-size: 30px;
    font-family: "Handlee", cursive;
}
.box .content{
    margin: 20px 0 0 0;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
}


footer .center .content{

}
footer .center .content li{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px;
    align-items: top;
    margin: 0 0 10px;
}
footer .center .content li:last-child{
    margin: 0;
}
footer .center .content li [class*=fa-]{
    margin: 5px 0 0;
    font-size: 20px;
    color: #17a2b8;
}
footer .center .content li .text span{
    display: block;
    font-size: 14px;
}
footer .center .content li .text .title{
    font-family: 'Handlee', cursive;
    font-size: 18px;
}
footer .center .content li a{
    color: #fff;
    font-size: 14px;
}
footer .center .content li a:hover{
    text-decoration: underline;
}


footer .right .content li{
    margin: 0 0 15px;
    position: relative;
}
footer .right .content li:last-child{
    margin: 0;
}
footer .right .content li:before{
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: #fff;
}
footer .right .content li a{
    color: #fff;
}
footer .right .content li a:hover{
    text-decoration: underline;
}
.main-content .box h2{
    color: white;
}

/* footer end  */
/* QUIZ CSS  */

* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}



.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;

}
.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #34495e;
    font-size: .99em;
}

.main-nav a:hover {
    color: #718daa;
}



.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

