<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../Static/css/style.css">
  
</head>

<body>
    <div class="AddTeams">  
    <input type="hidden" id="id" />  
    <b>Course:</b><input type="text" id="firstName" /><br />  
    <b>Course ID:</b><input type="text" id="lastName" /><br />  
    <b>Types:</b><input type="text" id="city" /><br />  
    <b>Blank:</b><input type="text" id="state" /><br />  
    <b>Time:</b>  
    <input type="text" id="phone" /><br />  
    <b>Blank:</b><input type="text" id="email" /><br />  

    <button class="batn" onclick="InsertData()">Insert Data</button>  
    <button class="batn1" onclick="UpdateData()">Update Data</button>  
    <button class="batn2" onclick="ClearData()">Clear</button>

<script>  
    var id = document.getElementById('id');  
    var firstName = document.getElementById('firstName');  
    var city = document.getElementById('city');  
    var state = document.getElementById('state');  
    var email = document.getElementById('email');  
    var lastName = document.getElementById('lastName');  
    var phone = document.getElementById('phone');  
    var results = document.getElementById('details');  
</script> 
</div>

</body>
</html>