<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> FAQ ACCORDION </title>
    <!-- fontawasome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" th:href="@{~/css/frequent.css}">
    <link rel="stylesheet" th:href="@{~/css/style.css}">
</head>
<body>

<section>
    <h1 class="title">FAQ's</h1>
    <div class="questions-container">
        <div class="question">
            <button>
                <span>What really is Educare?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>It is website that helps you achieve greater goals</p>
        </div>

        <div class="question">
            <button>
                <span>How long will it take to learn JavaScript?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>Depends on your practice</p>
        </div>
    </div>

<tbody>
<div class="questions-container">
 <div class="question">
    <tr th:each="faq:${frequentList}">
    <button>
        <span><td th:text="${faq.question}"></td></span>
        <i class="fas fa-chevron-down d-arrow"></i>
    </button>
    <p><td th:text="${faq.answer}"></td></p>
    </tr>
</div>
</div>
</tbody>
</section>

<div
        class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5"
>
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
            <a
                    href=""
                    class="navbar-brand font-weight-bold text-primary m-0 mb-4 p-0"
                    style="font-size: 40px; line-height: 40px"
            >
                <i class="flaticon-043-teddy-bear"></i>
                <span class="text-white">Educare</span>
            </a>
            <p>

                An online learning platform is a space or portal filled with educational content and/or live instruction on a particular subject or many different topics. Such platforms - also referred to as "e-learning" - are typically membership-based, but there are other options where users can jump in and learn immediately without registerition
            </p>
            <div class="d-flex justify-content-start mt-4">
                <a
                        class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                        style="width: 38px; height: 38px"
                        href="#"
                ><i class="fab fa-twitter"></i
                ></a>
                <a
                        class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                        style="width: 38px; height: 38px"
                        href="#"
                ><i class="fab fa-facebook-f"></i
                ></a>
                <a
                        class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                        style="width: 38px; height: 38px"
                        href="#"
                ><i class="fab fa-linkedin-in"></i
                ></a>
                <a
                        class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                        style="width: 38px; height: 38px"
                        href="#"
                ><i class="fab fa-instagram"></i
                ></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h3 class="text-primary mb-4">Stay with us</h3>
            <div class="d-flex">
                <h4 class="fa fa-map-marker-alt text-primary"></h4>
                <div class="pl-3">
                    <h5 class="text-white">Address</h5>
                    <p>Dillibazar, Kathmandu, Nepal</p>
                </div>
            </div>
            <div class="d-flex">
                <h4 class="fa fa-envelope text-primary"></h4>
                <div class="pl-3">
                    <h5 class="text-white">Email</h5>
                    <p>wrabwagle123@gamail.com</p>
                </div>
            </div>
            <div class="d-flex">
                <h4 class="fa fa-phone-alt text-primary"></h4>
                <div class="pl-3">
                    <h5 class="text-white">Phone</h5>
                    <p>+012 345 67890</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h3 class="text-primary mb-4">Quick Links</h3>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" href="#"
                ><i class="fa fa-angle-right mr-2"></i>Home</a
                >
                <a class="text-white mb-2" href="ab.html"
                ><i class="fa fa-angle-right mr-2"></i>About Us</a
                >
                <a class="text-white mb-2" href="Course.html"
                ><i class="fa fa-angle-right mr-2"></i>Our Course</a
                >
                <a class="text-white mb-2" href="#"
                ><i class="fa fa-angle-right mr-2"></i>Experts</a
                >
                <a class="text-white mb-2" href="#"
                ><i class="fa fa-angle-right mr-2"></i>Our Blog</a
                >
                <a class="text-white mb-2" href="#"
                ><i class="fa fa-angle-right mr-2"></i>Contact Us</a
                >
                <a class="text-white mb-2" href="#"
                ><i class="fa fa-angle-right mr-2"></i>FAQ</a
                >
                <a class="text-white mb-2 " href="#"
                ><i class="fa fa-angle-right mr-2"></i>Events</a
                >


            </div>
        </div>

        <div
                class="container-fluid pt-5"
                style="border-top: 1px solid rgba(23, 162, 184, 0.2) ;"
        >

        </div>
    </div>

    <a href="#" class="btn btn-primary p-3 back-to-top"
    ><i class="fa fa-angle-double-up"></i
    ></a>


</body>
</html>
<!-- external js-->
<script th:src="@{~/javascript/frequent.js}"></script>

</body>
</html>