<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Online learning</title>
  <link rel="stylesheet" th:href="@{~/css/landing.css}">
  <script src="https://kit.fontawesome.com/a076d05399.js">
  </script>

</head>
<body>
<!-- Navigation -->
<header>
  <nav>
    <img th:src="../static/images/EduCare.png" alt="#" />
    <!-- <div class="search-container">
      <input type="text" class="search-box" placeholder="  Search..." /> -->
    </div>
    <ul class="navbar">
      <li><a href="homepage.html">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="Course.html">Course</a></li>
      <li><a href="#">Teams</a></li>
      <li><a href="Contact.html">Contact</a></li>
    </ul>
    <ul class="nav-btns">
      <li><a href="user/signup.html" class="sign">Sign up</a></li>
      <li><a href="login.html" class="login">Log in</a></li>
    </ul>
  </nav>
</header>
<!-- Home -->
<section class="banner" id="banner">
  <div class="banner-wrapper">
    <div class="content">
      <h3>
        Begin Learning from <span>the best courses in the world.</span>
      </h3>
      <p>Start your education with the top courses available.</p>
      <a href = "userguide.html" class="UserGuide">User Guide</a>
    </div>
    <div class="img">
      <img th:src="../static/images/erge-mahindra-rFUpzPhqkE4-unsplash.jpg" alt="" />
    </div>
  </div>
</section>

<!-- courses content section -->
<section class="courses" id="courses">
  <div class="container">
    <h2>Explore top courses</h2>
    <div class="courses-content">
      <div class="item">
        <span class="tag">Course</span>
        <a href="#"><h4>Learn Python 3</h4></a>
        <ul>
          <li>Beginner friendly</li>
        </ul>
      </div>
      <div class="item">
        <span class="tag">Course</span>
        <a href="#"><h4>Learn JavaScript</h4></a>
        <ul>
          <li>Beginner friendly</li>
        </ul>
      </div>
      <div class="item">
        <span class="tag">Course</span>
        <a href="#"><h4>Learn HTML and CSS</h4></a>
        <ul>
          <li>Beginner friendly</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="beginner-welcome" id="beginner-welcome">
  <div class="container">
    <div class="beginner-wrapper">
      <div class="img">
        <img th:src="../static/images/Screenshot%202022-11-15%20at%209.52.10%20PM.png" alt="" />
      </div>
      <div class="content">
        <h3>
          Beginner Welcome
        </h3>
        <p>You will start writting actual code in your first lesson thanks to our hands-on learning environment.</p>
        <div class="btn-wrapper">
          <button class="join-free">Join Free</button>
        </div>
      </div>
    </div>

</section>

<!-- Section 4 -->
<section class="with-edu" id="with-edu">
  <div class="banner2-wrapper">
    <h3 class="title">
      With EduCare, take the next step toward your personal and professional objectives.
    </h3>
    <div class="img-wrapper">
      <img th:src="../static/images/img1.jpg" alt="" />
      <img th:src="../static/images/img2.jpg" alt="" />
    </div>
  </div>
</section>
<!-- footer section -->
<footer>
  <div class="main-content">
    <div class="left box">
      <h2>Educare</h2>
      <div class="content">
        <p>Educare is the world best learning platform. We are the team of five working constantly to provide quality education to the world. Courses with excellenr team are avaiable to guide the student for better future. Trust as and experience the best learning </p>
        <div class="social">
          <a href="#"> <span class="fab fa-twitter"></span></a>
          <a href="#"> <span class="fab fa-facebook-f"></span></a>
          <a href="#"> <span class="fab fa-linkedin"></span></a>
          <a href="#"> <span class="fab fa-instagram"></span></a>
        </div>
      </div>
    </div>
    <div class="center box">
      <h2>Stay with us</h2>
      <div class="content">
        <div class="place">
          <span class="fas fa-map-marker-alt"></span>
          <span class="text">Address <br>Dillibazar, Kathmandu, Nepal  </span>
        </div>
        <div class="email">
          <span class="fas fa-envelope"></span>
          <span class="text">Email<br> aakash@gmail.com</span>
        </div>
        <div class="phone">
          <span class="fas fa-phone-alt"></span>
          <span class="text">+012 345 6789</span>
        </div>
      </div>
    </div>
    <div class="right-box">
      <div class="quicklink">
        <h2>Quick Links</h2>
        <ul>
          <li>
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Our Course</a>
            <a href="#">Experts</a>
            <a href="#">Our Blogs</a>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


</div>
</body>
</html>
